.parallax-container
	position relative
	top 0px
	z-index 1
	height 900px
	width 100%

	.parallax-image
		position fixed
		background url(images/GoE_Background.jpg) no-repeat center top
		min-width 800px
		height 900px
		opacity 1 !important
		width 100%
		top 0px
