.social-media-icons
	display flex
	flex-direction row
	justify-content center
	margin-top 50px

	a
		color white
		display block
		height 62px
		width 62px
		box-sizing border-box
		margin 5px
		background url(images/UI_BlueNormal.png) no-repeat 3px 3px
		background-size 100% 100%
		line-height 62px
		font-size 20px

		&:hover
			background url(images/UI_BlueHovered.png)
			margin 0px 5px 5px 5px

		&:active
			background url(images/UI_BlueHovered.png)
			margin 0px 5px 5px 5px